/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cabin", sans-serif;
  color: white;
  cursor: url('../images/pointer.png'), auto;
  padding: 2rem;
}

.centered-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#miLottiePlayer {
  width: 200px;
  height: 200px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/3.png");
  /* background-image: url('/images/salaFuturista.jpg'); */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  color: white !important;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

p {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

a,
button,
i,
input[type=checkbox],
#language-toggle,
.hover-container {
  cursor: url('../images/hand-cursor.png'), auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
}

.fluorescent-pink {
  font-weight: bold;
  color: #EF3DF2;
  text-shadow: 0 0 10px #EF3DF2, 0 0 20px #7F1B8C, 0 0 30px #350C40, 0 0 40px #1F1426, 0 0 50px #2745F2;
  transition: text-shadow 0.5s ease-in-out;
}

.fluorescent-pink:hover {
  text-shadow: 0 0 15px #EF3DF2, 0 0 25px #7F1B8C, 0 0 35px #350C40, 0 0 45px #1F1426, 0 0 55px #2745F2;
}

.fluorescent-blue,
.tab-button:hover {
  font-weight: bold;
  color: #194dfa;
  text-shadow: 0 0 1rem rgba(39, 69, 242, 0.8), 0 0 20px rgba(39, 69, 242, 0.6);
  filter: brightness(2.5) drop-shadow(0 0 23rem #2745F2);
  transition: text-shadow 0.3s ease-in-out;
}

.fluorescent-blue:hover {
  text-shadow: 0 0 10px rgba(39, 69, 242, 0.8), 0 0 20px rgba(39, 69, 242, 0.6);
}

/* Scroll-Up */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background: none;
  cursor: var(--toggle-bg);
  filter: brightness(2.5) drop-shadow(0 0 23rem #2745F2);
  color: #2745F2;
  transition: filter 0.3s ease-in-out, color 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

#btn-back-to-top i {
  position: relative;
  z-index: 2;
}

#btn-back-to-top:hover,
#btn-back-to-top i:hover {
  color: #0088f7;
  text-shadow: 0 0 3rem rgba(25, 77, 250, 0.7);
  width: 3.3rem;
  height: 3.3rem;
  font-size: 1.8rem;
}

#btn-back-to-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #2745F2;
  border-radius: 50%;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* Languages */
.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.toggle-container {
  display: flex;
  align-items: center;
  font-size: 3px;
  color: white;
}

.language-label {
  margin: 0 5px;
  font-size: 14px;
}

.bb8-toggle {
  --toggle-size: 8px;
  --toggle-width: 10.625em;
  --toggle-height: 5.625em;
  --toggle-offset: calc((var(--toggle-height) - var(--bb8-diameter)) / 2);
  --toggle-bg: linear-gradient(#2c4770, #070e2b 35%, #628cac 50% 70%, #a6c5d4) no-repeat;
  --bb8-diameter: 4.375em;
  --radius: 99em;
  --transition: 0.4s;
  --accent: #de7d2f;
  --bb8-bg: #fff;
}

.bb8-toggle,
.bb8-toggle *,
.bb8-toggle *::before,
.bb8-toggle *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bb8-toggle {
  cursor: pointer;
  margin-top: var(--margin-top-for-head);
  font-size: 4px;
}

.bb8-toggle__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.bb8-toggle__container {
  width: var(--toggle-width);
  height: var(--toggle-height);
  background: linear-gradient(45deg, #EF3DF2, #7F1B8C, #350C40, #1F1426, #2745F2);
  background-size: 100% 11.25em;
  background-position-y: -5.625em;
  border-radius: var(--radius);
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: calc(var(--toggle-offset) - 1.688em + 0.188em);
  left: var(--toggle-offset);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
}

.bb8__head-container {
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 2;
  -webkit-transform-origin: 1.25em 3.75em;
  -ms-transform-origin: 1.25em 3.75em;
  transform-origin: 1.25em 3.75em;
}

.bb8__head {
  overflow: hidden;
  margin-bottom: -0.188em;
  width: 2.5em;
  height: 1.688em;
  background: -o-linear-gradient(transparent 0.063em, dimgray 0.063em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.5em, transparent 0.5em 1.313em, silver 1.313em 1.438em, transparent 1.438em), -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(transparent 0.063em, dimgray 0.063em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.5em, transparent 0.5em 1.313em, silver 1.313em 1.438em, transparent 1.438em), -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(transparent 0.063em, dimgray 0.063em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.5em, transparent 0.5em 1.313em, silver 1.313em 1.438em, transparent 1.438em), -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: -o-linear-gradient(transparent 0.063em, dimgray 0.063em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.5em, transparent 0.5em 1.313em, silver 1.313em 1.438em, transparent 1.438em), -o-linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(135deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), -o-linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  background: linear-gradient(transparent 0.063em, dimgray 0.063em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.5em, transparent 0.5em 1.313em, silver 1.313em 1.438em, transparent 1.438em), linear-gradient(45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), linear-gradient(-45deg, transparent 0.188em, var(--bb8-bg) 0.188em 1.25em, transparent 1.25em), linear-gradient(var(--bb8-bg) 1.25em, transparent 1.25em);
  border-radius: var(--radius) var(--radius) 0 0;
  position: relative;
  z-index: 1;
  -webkit-filter: drop-shadow(0 0.063em 0.125em gray);
  filter: drop-shadow(0 0.063em 0.125em gray);
}

.bb8__head::before {
  content: "";
  position: absolute;
  width: 0.563em;
  height: 0.563em;
  background: -o-radial-gradient(0.25em 0.375em, 0.125em circle, red, transparent), -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%), -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(0.25em 0.375em, 0.125em circle, red, transparent), -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%), -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(0.25em 0.375em, 0.125em circle, red, transparent), -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%), -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: -o-radial-gradient(0.25em 0.375em, 0.125em circle, red, transparent), -o-radial-gradient(0.375em 0.188em, 0.063em circle, var(--bb8-bg) 50%, transparent 100%), -o-linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  background: radial-gradient(0.125em circle at 0.25em 0.375em, red, transparent), radial-gradient(0.063em circle at 0.375em 0.188em, var(--bb8-bg) 50%, transparent 100%), linear-gradient(45deg, #000 0.188em, dimgray 0.313em 0.375em, #000 0.5em);
  border-radius: var(--radius);
  top: 0.413em;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-box-shadow: 0 0 0 0.089em lightgray, 0.563em 0.281em 0 -0.148em, 0.563em 0.281em 0 -0.1em var(--bb8-bg), 0.563em 0.281em 0 -0.063em;
  box-shadow: 0 0 0 0.089em lightgray, 0.563em 0.281em 0 -0.148em, 0.563em 0.281em 0 -0.1em var(--bb8-bg), 0.563em 0.281em 0 -0.063em;
  z-index: 1;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__head::after {
  content: "";
  position: absolute;
  bottom: 0.375em;
  left: 0;
  width: 100%;
  height: 0.188em;
  background: -o-linear-gradient(left, var(--accent) 0.125em, transparent 0.125em 0.188em, var(--accent) 0.188em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.938em, transparent 0.938em 1em, var(--accent) 1em 1.125em, transparent 1.125em 1.875em, var(--accent) 1.875em 2em, transparent 2em 2.063em, var(--accent) 2.063em 2.25em, transparent 2.25em 2.313em, var(--accent) 2.313em 2.375em, transparent 2.375em 2.438em, var(--accent) 2.438em);
  background: -webkit-gradient(linear, left top, right top, color-stop(0.125em, var(--accent)), color-stop(0.125em, transparent), color-stop(0.188em, var(--accent)), color-stop(0.313em, transparent), color-stop(0.375em, var(--accent)), color-stop(0.938em, transparent), color-stop(1em, var(--accent)), color-stop(1.125em, transparent), color-stop(1.875em, var(--accent)), color-stop(2em, transparent), color-stop(2.063em, var(--accent)), color-stop(2.25em, transparent), color-stop(2.313em, var(--accent)), color-stop(2.375em, transparent), color-stop(2.438em, var(--accent)));
  background: linear-gradient(to right, var(--accent) 0.125em, transparent 0.125em 0.188em, var(--accent) 0.188em 0.313em, transparent 0.313em 0.375em, var(--accent) 0.375em 0.938em, transparent 0.938em 1em, var(--accent) 1em 1.125em, transparent 1.125em 1.875em, var(--accent) 1.875em 2em, transparent 2em 2.063em, var(--accent) 2.063em 2.25em, transparent 2.25em 2.313em, var(--accent) 2.313em 2.375em, transparent 2.375em 2.438em, var(--accent) 2.438em);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__antenna {
  position: absolute;
  -webkit-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  transform: translateY(-90%);
  width: 0.059em;
  border-radius: var(--radius) var(--radius) 0 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.bb8__antenna:nth-child(1) {
  height: 0.938em;
  right: 0.938em;
  background: -o-linear-gradient(#000 0.188em, silver 0.188em);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.188em, #000), color-stop(0.188em, silver));
  background: linear-gradient(#000 0.188em, silver 0.188em);
}

.bb8__antenna:nth-child(2) {
  height: 0.375em;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);
  background: silver;
}

.bb8__body {
  width: 4.375em;
  height: 4.375em;
  background: var(--bb8-bg);
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: -webkit-gradient(linear, right top, left top, color-stop(4%, var(--bb8-bg)), color-stop(4%, var(--accent)), color-stop(10%, transparent), color-stop(90%, var(--accent)), color-stop(96%, var(--bb8-bg))), -webkit-gradient(linear, left top, left bottom, color-stop(4%, var(--bb8-bg)), color-stop(4%, var(--accent)), color-stop(10%, transparent), color-stop(90%, var(--accent)), color-stop(96%, var(--bb8-bg))), -webkit-gradient(linear, left top, right top, color-stop(2.156em, transparent), color-stop(2.156em, silver), color-stop(2.188em, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(2.156em, transparent), color-stop(2.156em, silver), color-stop(2.188em, transparent));
  background: -o-linear-gradient(right, var(--bb8-bg) 4%, var(--accent) 4% 10%, transparent 10% 90%, var(--accent) 90% 96%, var(--bb8-bg) 96%), -o-linear-gradient(var(--bb8-bg) 4%, var(--accent) 4% 10%, transparent 10% 90%, var(--accent) 90% 96%, var(--bb8-bg) 96%), -o-linear-gradient(left, transparent 2.156em, silver 2.156em 2.219em, transparent 2.188em), -o-linear-gradient(transparent 2.156em, silver 2.156em 2.219em, transparent 2.188em);
  background: linear-gradient(-90deg, var(--bb8-bg) 4%, var(--accent) 4% 10%, transparent 10% 90%, var(--accent) 90% 96%, var(--bb8-bg) 96%), linear-gradient(var(--bb8-bg) 4%, var(--accent) 4% 10%, transparent 10% 90%, var(--accent) 90% 96%, var(--bb8-bg) 96%), linear-gradient(to right, transparent 2.156em, silver 2.156em 2.219em, transparent 2.188em), linear-gradient(transparent 2.156em, silver 2.156em 2.219em, transparent 2.188em);
  background-color: var(--bb8-bg);
}

.bb8__body::after {
  content: "";
  bottom: 1.5em;
  left: 0.563em;
  position: absolute;
  width: 0.188em;
  height: 0.188em;
  background: rgb(236, 236, 236);
  color: rgb(236, 236, 236);
  border-radius: 50%;
  -webkit-box-shadow: 0.875em 0.938em, 0 -1.25em, 0.875em -2.125em, 2.125em -2.125em, 3.063em -1.25em, 3.063em 0, 2.125em 0.938em;
  box-shadow: 0.875em 0.938em, 0 -1.25em, 0.875em -2.125em, 2.125em -2.125em, 3.063em -1.25em, 3.063em 0, 2.125em 0.938em;
}

.bb8__body::before {
  content: "";
  width: 2.625em;
  height: 2.625em;
  position: absolute;
  border-radius: 50%;
  z-index: 0.1;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0.313em solid var(--accent);
  background: -o-radial-gradient(center, 1em circle, rgb(236, 236, 236) 50%, transparent 51%), -o-radial-gradient(center, 1.25em circle, var(--bb8-bg) 50%, transparent 51%), -o-linear-gradient(right, transparent 42%, var(--accent) 42% 58%, transparent 58%), -o-linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
  background: -o-radial-gradient(center, 1em circle, rgb(236, 236, 236) 50%, transparent 51%), -o-radial-gradient(center, 1.25em circle, var(--bb8-bg) 50%, transparent 51%), -o-linear-gradient(right, transparent 42%, var(--accent) 42% 58%, transparent 58%), -o-linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
  background: radial-gradient(1em circle at center, rgb(236, 236, 236) 50%, transparent 51%), radial-gradient(1.25em circle at center, var(--bb8-bg) 50%, transparent 51%), -webkit-gradient(linear, right top, left top, color-stop(42%, transparent), color-stop(42%, var(--accent)), color-stop(58%, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(42%, var(--bb8-bg)), color-stop(42%, var(--accent)), color-stop(58%, var(--bb8-bg)));
  background: radial-gradient(1em circle at center, rgb(236, 236, 236) 50%, transparent 51%), radial-gradient(1.25em circle at center, var(--bb8-bg) 50%, transparent 51%), linear-gradient(-90deg, transparent 42%, var(--accent) 42% 58%, transparent 58%), linear-gradient(var(--bb8-bg) 42%, var(--accent) 42% 58%, var(--bb8-bg) 58%);
}

.artificial__hidden {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.bb8__shadow {
  content: "";
  width: var(--bb8-diameter);
  height: 20%;
  border-radius: 50%;
  background: #3a271c;
  -webkit-box-shadow: 0.313em 0 3.125em #3a271c;
  box-shadow: 0.313em 0 3.125em #3a271c;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  left: calc(var(--toggle-offset) - 0.938em);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: skew(-70deg);
  -ms-transform: skew(-70deg);
  transform: skew(-70deg);
  z-index: 1;
}

/* actions */
.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(1) {
  top: 0.625em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(2) {
  top: 1.875em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(3) {
  top: 1.25em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(4) {
  top: 3.438em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(5) {
  top: 3.438em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(6) {
  top: 0.313em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__star:nth-child(7) {
  top: 1.875em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8-toggle__cloud {
  right: -100%;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .gomrassen {
  top: 0.938em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .hermes {
  top: 2.5em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .chenini {
  top: 2.75em;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container {
  background-position-y: 0;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .tatto-1 {
  top: 100%;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .tatto-2 {
  top: 100%;
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8 {
  left: calc(100% - var(--bb8-diameter) - var(--toggle-offset));
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8__shadow {
  left: calc(100% - var(--bb8-diameter) - var(--toggle-offset) + 0.938em);
  -webkit-transform: skew(70deg);
  -ms-transform: skew(70deg);
  transform: skew(70deg);
}

.bb8-toggle__checkbox:checked+.bb8-toggle__container .bb8__body {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(225deg);
}

.bb8-toggle__checkbox:hover+.bb8-toggle__container .bb8__head::before {
  left: 100%;
}

.bb8-toggle__checkbox:not(:checked):hover+.bb8-toggle__container .bb8__antenna:nth-child(1) {
  right: 1.5em;
}

.bb8-toggle__checkbox:hover+.bb8-toggle__container .bb8__antenna:nth-child(2) {
  left: 0.938em;
}

.bb8-toggle__checkbox:hover+.bb8-toggle__container .bb8__head::after {
  background-position: 1.375em 0;
}

.bb8-toggle__checkbox:checked:hover+.bb8-toggle__container .bb8__head::before {
  left: 0;
}

.bb8-toggle__checkbox:checked:hover+.bb8-toggle__container .bb8__antenna:nth-child(2) {
  left: calc(100% - 0.938em);
}

.bb8-toggle__checkbox:checked:hover+.bb8-toggle__container .bb8__head::after {
  background-position: -1.375em 0;
}

.bb8-toggle__checkbox:active+.bb8-toggle__container .bb8__head-container {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.bb8-toggle__checkbox:checked:active+.bb8-toggle__container .bb8__head-container {
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.bb8:hover .bb8__head::before,
.bb8:hover .bb8__antenna:nth-child(2) {
  left: 50% !important;
}

.bb8:hover .bb8__antenna:nth-child(1) {
  right: 0.938em !important;
}

.bb8:hover .bb8__head::after {
  background-position: 0 0 !important;
}

/* Navbar */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 3rem;
  height: 2.2rem;
  gap: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}


.toggle .bars:hover {
  filter: brightness(4.5) drop-shadow(0 0 23rem #7F1B8C);
  background-color: #7F1B8C;
}

.bars {
  width: 100%;
  height: 41px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
  transition: background-color 0.3s ease;

}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#offcanvasNavbar2 {
  background: #160332bf !important;
}

.offcanvas-body {
  margin: 0 3rem;
}

#offcanvasNavbar2Label {
  margin-left: 1rem;
}

.fa-times {
  margin: 0.1rem;
  font-size: 3rem;
  color: #FF00FF;
}



#mainNavigation {
  padding: 2rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6000000", endColorstr="#00000000", GradientType=0);
}

#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
  background: 0 0 10px rgba(39, 69, 242, 0.8), 0 0 20px rgba(39, 69, 242, 0.6);
  filter: brightness(2.5) drop-shadow(0 0 23rem #2745F2);
  padding: 12px;
}

#mainNavigation a {
  color: #dfdfdf;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) !important;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

#mainNavigation a:hover,
footer a:hover {
  color: #65e1ff !important;
  font-size: 1.1rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  color: #FFFFFF;
  background-color: rgba(0, 16, 77, 0.5490196078);
  filter: brightness(993%) drop-shadow(0 0 23rem rgba(249, 249, 249, 0.6705882353));
  list-style: none;
  padding: 10px;
  margin: 0;
  border: none;
  border-top: none;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 5px 0;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-menu li:hover {
  background-color: rgba(95, 6, 197, 0.462745098);
}

a.dropdown-toggle {
  color: #dfdfdf !important;
}

a.dropdown-item:hover {
  background-color: rgba(148, 6, 225, 0.1450980392) !important;
}

hr:hover {
  background-color: none !important;
}

.nav-item {
  min-width: 8vw;
}

.show {
  color: rgb(44, 42, 42) !important;
}

#mainNavigation .navbar-dark.d-flex {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.round-logo {
  width: 5rem;
  border-radius: 50%;
}

.offcanvas-header {
  padding: 3rem 1rem;
}

/* Scroll Progress Bar */
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #000;
  z-index: 9999;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #EF3DF2, #7F1B8C, #350C40, #1F1426, #2745F2);
}

/** Setions **/
section {
  background-color: rgba(0, 0, 0, 0.959);
  margin-top: 4rem;
}

/* Video Section */
#home {
  background-color: transparent;
  margin: 11rem auto 0;
  text-align: center;
  position: relative;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.video-container {
  display: inline-block;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  box-shadow: 0 0 3rem rgba(239, 61, 242, 0.8), 0 0 3rem rgba(39, 69, 242, 0.8);
  animation: neonGlow 10s 2 alternate, neonSteady 2s infinite;
}

@keyframes neonGlow {
  from {
    box-shadow: 0 0 20px rgba(239, 61, 242, 0.8), 0 0 20px rgba(39, 69, 242, 0.8);
  }

  to {
    box-shadow: 0 0 100px rgba(159, 27, 140, 0.8), 0 0 100px rgba(39, 69, 242, 0.8);
  }
}

@keyframes neonSteady {

  0%,
  100% {
    box-shadow: 0 0 20px rgba(159, 27, 140, 0.8), 0 0 20px rgba(39, 69, 242, 0.8);
  }
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  border: none;
}

/* About Me */
.art-left {
  padding: 1rem;
}

#about p {
  font-size: 0.8rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 0rem;
  padding: 0 1rem;
}

span.highlight {
  background-color: rgba(39, 69, 242, 0.5450980392);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

/* Tech Stack*/
#tech div.container {
  padding-left: 0.3rem;
}

#tech h3 {
  font-size: 0.8rem;
  padding: 0 0.3rem;
}

#tech p {
  display: none;
}

.tech svg {
  filter: brightness(0) invert(1);
  width: 1.3em !important;
  height: 1.3em !important;
}

.tech img {
  filter: brightness(0) invert(1);
  width: 1em !important;
}

.technology {
  font-size: 24px;
  font-weight: bolder;
}

.skill-client-side {
  color: #EF3DF2;
  text-shadow: 0 0 10px #EF3DF2, 0 0 20px #EF3DF2, 0 0 30px #EF3DF2, 0 0 40px #EF3DF2, 0 0 50px #7F1B8C, 0 0 60px #7F1B8C, 0 0 70px #7F1B8C;
}

.skill-server-side {
  color: #6f00ff;
  text-shadow: 0 0 10px #6f00ff, 0 0 20px #6f00ff, 0 0 30px #6f00ff, 0 0 40px #6f00ff, 0 0 50px #9d59f4, 0 0 60px #9d59f4, 0 0 70px #9d59f4;
}

.skill-tools {
  color: #2745F2;
  text-shadow: 0 0 10px #2745F2, 0 0 20px #2745F2, 0 0 30px #2745F2, 0 0 40px #2745F2, 0 0 50px #506aff, 0 0 60px #506aff, 0 0 70px #506aff;
}



#tech.col:hover {
  transform: scale(1.05);
}

/* Projects */


.tab-buttons {
  padding: 3rem 1rem 0;
}

.tab-button {
  background: transparent;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  color: #2745F2;
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  position: relative;
}

.tab-button.active {
  color: #001173;
  border-bottom: 2px solid #001173;
}

.tab-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, background 0.3s ease;
}

.tab-button:hover::before,
.tab-button.active::before {
  background: #2745F2;
  transform: scaleX(1);
}


.category {
  display: none;
}

.category.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.category.active .panel {
  animation: fadeInUp 0.6s ease;
}


@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


#project-cards {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.panel {
  flex: 1 1 calc(25% - 20px);
  height: 270px;
  position: relative;
  margin: 3rem;
}

.panel:hover .card {
  filter: blur(1.5px);
}

.panel:hover .card1 {
  background-size: 215% 135%;
}

.panel:hover .card2 {
  background-size: 115% 115%;
}

.panel:hover .card3 {
  background-size: 155% 115%;
}

.panel:hover .title {
  color: rgba(255, 255, 255, 0.2);
}

.panel:hover .border {
  border: 1px solid rgb(255, 255, 255);
}

.panel:hover .slide {
  bottom: 0px;
}

.panel:hover .ring:before,
.panel:hover .ring:after {
  transform: translateX(-50%) translateY(-50%) rotate(310deg);
}



.ring,
.card,
.border,
.slide,
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  color: #fffbf1;
  position: absolute;
  top: 51%;
  left: 51%;
  font-size: 5.5rem;
  width: 22rem;
  transform: translateX(-50%) translateY(-50%);
  transition: box-shadow 0.5s;
}



.border {
  background: #0000004f;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}



.card {
  background: #f0ead6;
  position: relative;
  transition: all 1s;
  background-size: 100% 100%;
  width: 16rem;
  height: 13rem;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(239, 61, 242, 0.7);
}

.ring:before,
.ring:after {
  content: "";
  padding: 0.7em 0.4em;
  position: absolute;
  left: 50%;
  width: 115%;
  top: 50%;
  display: block;
  border: 5px solid #50c9c3;
  border-radius: 50%;
  transition: transform 1s;
  transform: translateX(-50%) translateY(-50%) rotate(50deg);
}

.ring:before {
  border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.ring:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(235, 235, 235) rgb(235, 235, 235);
}

#projects p {
  text-align: center;
  position: absolute;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  transition: all 1s;
  top: 0;
}

.para {
  bottom: 0;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  padding: 0 2rem 1rem;
  margin: 0;
  text-align: center;
}

/* .panel a {
  bottom: 0;
  padding: 0.8rem;
  margin: 0;
  text-align: center;
} */

.border {
  position: absolute;
  width: 16rem;
  height: 13rem;
  transition: border 1s;
  overflow: hidden;
  border: 2px solid rgba(239, 61, 242, 0.5);
}

.slide {
  width: 16rem;
  height: 13rem;
  position: absolute;
  border: 1px solid black;
  bottom: -270px;
  background: rgba(0, 0, 0, 0.5);
  transition: bottom 1s;
  flex-direction: column;
}

.icon {
  font-size: 1rem;
  color: white;
}



/* Resumes */


#resume {
  padding: 3rem 1rem;
}

.resume-text {
  font-size: 13px;
}

.resume-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 15px 30px;
  border: none;
  background-color: #7f1b8cc5;
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  height: 7rem;
}

.resume-button:hover {
  filter: brightness(4.5) drop-shadow(0 0 23rem #7F1B8C);
}

.resume-button:focus {
  outline: none;
}

.resume-button:last-child {
  background-color: rgba(31, 48, 145, 0.799);
}

.resume-button:last-child:hover {
  background: 0 0 10px rgba(39, 69, 242, 0.8), 0 0 20px rgba(39, 69, 242, 0.6);
  filter: brightness(2.5) drop-shadow(0 0 23rem #2745F2);
}

/* Life */


/* #life .col-10 {
  width: auto;
} */

#life .col-lg-5 {
  margin: 0;
  padding: 0;
}


#life .col-xxl-8 {
  padding-bottom: 0 !important;
}


#life p,
summary {
  font-size: 0.8rem;
}

summary {
  font-weight: 600;
  padding: 0.3rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  background: linear-gradient(45deg, #2745F2, #1F1426, #350C40, #7F1B8C, #EF3DF2);
  background-size: 500% 500%;
  color: white;
}


summary:hover {
  filter: brightness(3.3) drop-shadow(0 0 23rem #2745F2);
}

summary:hover::before {
  opacity: 1;
}

details>summary::after {
  position: absolute;
  content: "+";
  right: 1rem;
}

details[open]>summary::after {
  position: absolute;
  content: "-";
  right: 1rem;
}

details>summary::-webkit-details-marker {
  display: none;
}

details[open] summary~* {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}



/* Contact */


#contact {
  padding: 2rem;
}

.contact-container {
  margin: 3rem auto;
  width: 89%;
}

.form-input::placeholder {
  font-size: 1.3rem;
  color: #7F1B8C;
}

.form-input,
#contact textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #EF3DF2;
  padding: 10px;
  background-color: transparent;
  color: #fff;
}

.form-input:focus,
#contact textarea:focus {
  outline: none;
  border-color: #7F1B8C;
}

.form-group {
  position: relative;
}

.form-label {
  display: none;
  font-size: 1rem;
  text-align: left;
  color: #7F1B8C;
}

#contact button {
  background-color: rgba(104, 14, 129, 0.8509803922);
  color: #fff;
  border: none;
  margin-top: 0.8rem;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact button:hover {
  filter: brightness(4.5) drop-shadow(0 0 23rem #7F1B8C);
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #EF3DF2;
  padding: 10px;
  background-color: transparent;
  color: #fff;
}

.form-input:focus+.form-label {
  transform: translateY(0) scale(0.8);
}

.form-input:valid+.form-label {
  transform: translateY(0) scale(0.8);
}



/* Footer */

.text-center,
.nav-link {
  font-family: "Cabin", sans-serif;
  color: white !important;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}


footer p {
  margin: 0.3rem auto;
}

footer ul {
  margin: 2rem auto;
}


.link-body-emphasis svg {
  fill: #ffffff;
  width: 2em;
  height: 2em;
}

.text-sm {
  font-size: 0.7rem;
  margin-bottom: 0;
}

/* Media queries */
@media screen and (min-width: 768px) {

  #offcanvasNavbar2 {
    background: transparent !important;
  }


  .nav-item {
    padding: 0 1rem;
  }


  .bb8-toggle {
    font-size: var(--toggle-size);
  }

  #checkbox {
    display: none;
  }

  .toggle {
    display: none;
  }

  .round-logo {
    width: 8rem;
    height: 8rem;
  }

  #mainNavigation {
    padding: 1rem;
  }

  section {
    background-color: rgba(0, 0, 0, 0.9215686275);
    padding: 3rem 11rem;
  }

  #home {
    width: 65%;
  }

  .col-md-7 {
    margin-top: 3rem;
  }


  #about p {
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .fluorescent-blue,
  .fluorescent-pink {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
  }


  .art-left {
    padding: 1rem 1.3rem;
  }

  .tech svg {
    width: 2em !important;
    height: 2em !important;
  }

  .tech p {
    fill: #ffffff;
    font-size: 1rem;
    text-align: left;
  }

  #tech h3 {
    font-size: 1.1rem;
    padding: 0 1rem;
  }

  #tech p {
    display: block;
    font-size: 0.8rem;
    margin: 0.1rem 0.8rem 0;
  }


  #projects {
    padding: 2.2rem;
  }


  .tab-buttons {
    padding: 3rem 10rem 0;
  }

  .icon {
    font-size: 2rem;
  }

  .panel {
    margin: 2rem;
    position: relative; 
  }

  .panel .line {
    position: absolute; 
    display: flex; 
    gap: 3rem; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
    bottom: 2.2rem;
    margin-bottom: 3rem; 
  }

  .panel .para, .panel strong {
    position: absolute;
    display: flex; 
    top: 2.2rem;
  }

  .panel strong {
    left: 7rem;
  }

  .panel .line a {
    display: flex;
    align-items: center; 
    height: 1.5rem; 
  }

  .panel .line:last-child {
    margin-bottom: 0; 
  }


  #resume {
    padding: 3rem 11rem;
  }

  .resume-text {
    margin: 20px 0;
    font-size: 18px;
  }

  .resume-button {
    height: 3rem;
  }

  .resume-button:hover {
    filter: brightness(2.5) drop-shadow(0 0 23rem #7F1B8C);
  }

  .resume-button:last-child:hover {
    filter: brightness(2.5) drop-shadow(0 0 23rem #27279d);
  }


  #contact {
    padding: 4rem 11rem 3rem;
  }

  .contact-container {
    margin: 4rem auto;
    width: 65%;
  }

  summary {
    font-size: 0.8rem;
    padding: 1rem 0.8rem;
  }

  summary .col-xxl-12 {
    padding: 0 !important;
  }

  summary .col-10 {
    padding: 3rem 0;
  }


  .text-sm {
    font-size: 0.7rem;
    font-size: smaller;
    margin-bottom: 0;
  }

  p.text-center:nth-child(2) {
    font-size: 1.33rem;
  }
}


@media (max-width: 576px) {
  #about svg {
    width: 33.33%;
    height: fit-content;
    margin-bottom: 0.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */